body {margin: 0; font-family: sans-serif;}
.sections {
  writing-mode: vertical-lr;
  margin: 0;
  padding: 1em 0;
  background: teal;
  color: white;
  line-height: 2em;
  text-align: center;
  letter-spacing: .15em;
  transform: rotate(180deg);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-sizing: border-box;
  height: 8em;
}
.menu {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  width: 10em;
  box-sizing: border-box;
  transform: translateX(-8em);
  transition: all .5s cubic-bezier(.5, 0, .5, 0);
}
/* .menu:hover fails on mobile so use javaSript */
.menushow {
  transform: translateX(0);
}
nav {
  display: flex;
  flex-direction: column;
  width: 8em;
  height: 8em;
  text-align: center;
}
nav a {
  background: #333;
  color: white;
  line-height: calc(2em - 1px);
  text-decoration: 0;
  box-sizing: border-box;
  border-top: 1px solid teal;
}
nav a:hover {
  background: #666;
}
