body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
  background: silver;
  padding: .25em .5em;
  height: 3em;
}
header h1 {
  float: left;
  margin: 0;
  line-height: 1.5em;
}
nav.hamburger_menu {
  background: beige;
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
  transition: all .25s;
  transform: translateY(-6.75em);
}
nav.hamburger_menu a {
  color: #333;
  width: 12em;
  font-weight: bold;
  text-align: center;
  padding: .25em .5em;
  font-size: 1.25em;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
}
nav.hamburger_menu a:hover {
  background: #666;
  color: white;
}

/* hamburger menu: */
label[for="hamburger"] {
  font-size: 2.5em;
  display: inline-block;
  transition: all .25s;
  position: absolute;
  right: .25em;
  top: 2px;
}
#hamburger {
  display: none;
}
#hamburger:checked + label {
  transform: rotate(90deg);
  color: #666;
}
#hamburger:checked ~ .hamburger_menu {
  transform: translateY(3.25em);
}